<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
  <body>
    <div class="row">
      <div class="col-2">
        <%-include("./partials/navbar.ejs", { user: user})%>
      </div>
    </div>
    <% if (user) {%>
    <div class="row justify-content-center">
      <h1>WELCOME BACK <%= user.username %></h1>
    </div>
    <div class="row justify-content-center">
      <h2>All posts</h2>
    </div>

    <% userPosts.forEach(item =>{ %> <%if(user.isMember == "on") { %>
    <!-- if user is member, display username of post  -->

    <div class="row d-flex justify-content-center">
      <div
        class="card text-white bg-primary mb-3 col-md-6"
        style="max-width: 60rem"
      >
        <div class="card-header" style="text-align: center">
          <%=item. messageSubject%>
        </div>
        <h5 class="card-title">User: <%= item.name%></h5>
        <div class="card-body">
          <div class="card-text" style="text-align: center">
            <%=item.message%>
          </div>
        </div>
      </div>
    </div>
    <% } else{ %>
    <!-- <div class="row justify-content-center"> -->
    <div class="row d-flex justify-content-center">
      <div
        class="card text-white bg-primary mb-3 col-md-6"
        style="max-width: 60rem"
      >
        <div class="card-header" style="text-align: center">
          <%=item. messageSubject%>
        </div>
        <div class="card-body">
          <div class="card-text" style="text-align: center">
            <%=item.message%>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->
    <% }%> <%})%> <% } else { %>

    <div class="row justify-content-center">
      <h1 style="margin-bottom: 100px">Log In</h1>
    </div>
    <form action="/log-in" method="POST">
      <div class="row justify-content-center">
        <div class="col-1" style="margin: 10px">
          <label for="username">Username</label>
        </div>

        <div class="col-3">
          <!-- <input name="username" placeholder="username" type="text" /> -->
          <input
            type="text"
            class="form-control"
            placeholder="username"
            name="username"
            style="margin: 10px"
          />
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-1" style="margin: 10px">
          <label for="password">Password</label>
        </div>
        <div class="col-3">
          <!-- <input name="password"  /> -->
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            style="margin: 10px"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-1">
          <button class="btn btn-outline-primary" style="margin: 5px">
            Log in
          </button>
        </div>
      </div>
    </form>
    <%}%>
    <div class="row justify-content-center" id="footer"></div>
  </body>
</html>
